name: Terraform CI

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - "infra/terraform/**"
      - ".github/workflows/terraform-ci.yml"
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: terraform-ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  terraform_pipeline:
    name: TF-Master-Check
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: infra/terraform/environments/dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.7.5"

      - name: Terraform fmt (check)
        run: terraform fmt -check -recursive

      - name: Terraform init (no backend)
        run: terraform init -backend=false

      - name: Terraform validate
        run: terraform validate

      - name: Terraform plan (no apply)
        run: terraform plan -no-color
